/* .main img{
  width: 100%;

}
.cart-container{
   width: 100%; 
  display: flex;
   justify-content: center; 
   justify-content: space-around;
} 
.Cart{
 
  text-align: center;
  background-color: #fff;
}
.Cart h2{

  font-size: 25px;
  font-weight: bold;
}
.Cart-img img{

width: 15%;
padding: 8px;

}

    */
